* {
    margin: 0;
    padding: 0;
}

body {
    height: 92vh;
    background-color: white;
}

header {
    height: 8vh;
    /* text-align: center; */
    background-color: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: white;
    font-family: "League Spartan", sans-serif;
}

header div h1 {
    font-size: 24px;
}

.titulo2 {
    color: red;
}

.titulo1 {
    margin-left: 20px;
}

.titulo {
    display: flex;
}

